<h>Editor</h>
<div id="editor-container">
  <div id="editor-menu">
    <button id="select-tool" {{action "setTool" "select"}}>Select</button>
    <button id="text-tool" {{action "setTool" "text"}}>Text</button>
    <button id="path-tool" {{action "setTool" "path"}}>Path</button>
    <button id="rect-tool" {{action "setTool" "rect"}}>Rect</button>
    <button id="oval-tool" {{action "setTool" "oval"}}>Oval</button>
  </div>
<div id="editor-canvas"></div>
</div>